*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    /* background-color: black;  */
    font-family: 'Rubik', sans-serif;
}

header{
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
    font-weight: bold;
}
  
.mainBody{
    width: 360px;
    height: 70vh;
    background: white;
    margin: 7% 38%;
    border-radius: 20px;
    position: absolute;
    background-color: #3a4452;
}
  
form .display{
    height: 13vh;
    width: 89%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 8px;
    border: 1px solid #33ffd8;
    border-radius: 10px;
}

form .display input{
    border: none;
    outline: none;
    text-align: right;
    font-size: 40px;
    flex: 1;
    cursor: pointer;
    height: 90%;
    width: 100%;
    box-shadow: none;
}

form{
    margin-left: 25px;
    
}

form input{
    border: none;
    /* text-align: center; */
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 7px;
    background-color: #3a4452;
    color: white;
    box-shadow: -8px -8px 15px rgba(0,0,0,0.1), 5px 5px 15px rgba(295,295,295, 0.2);
    cursor: pointer;
}

.enter{
    width: 145px;
    height: 60px;
    /* background-color: lightgreen; */
}

.clearBtn{
    width: 145px;
    height: 60px;
}

.funcBtn{
    color: #33ffd8;
}